  @import "./variables.module.scss";


.CartItem {
    display: grid;
    gap: 15px;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    margin-top: 20px;
}

.CartItem figure {
    margin: 0;
}

.CartItem p:nth-child(2) {
    color: $very-light-pink;
    font-size: $sm;
}
.CartItem p:last-child {
    font-weight: bold;
}

.CartItem figure img {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    object-fit: cover;
}

.iconClose {
    cursor: pointer;

}