

body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Quicksand", sans-serif;

}

label {
    margin: 0;
}


//header medias

@media (max-width: 650px) {
    .menu {
        display: block;
    }
  
    .navbar-left ul {
        display: none;
    }
  
    .navbar-right ul li:first-child {
        display: none;
  
    }
  }