@import "./variables.module.scss";


.Orders {
    display: grid;
    place-items: center;
}

.Orders-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    
}

.order-container img {
    width: 13px;
}