@import "./variables.module.scss";

.TotalCartItem {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: $text-input-field;
    height: 70px;
    border-radius: 8px;
    padding: 0 24px;
}

.TotalCartItem p:first-child{
    display: flex;
    flex-direction: column;   
}

.TotalCartItem p span:first-child {
    font-weight: bold;
    font-size: $md;
}

.TotalCartItem p span:first-child {
    font-weight: bold;
    font-size: $md;
}

.TotalCartItem p span:last-child {
    color: $very-light-pink;
    font-size: $md;
}

.TotalCartItem-price {
    text-align: end;
    font-weight: bold;
}

